.solution-parallel-coordinates .label {
  fill: black;
  font-weight: bold;
}

.solution-parallel-coordinates path {
  fill: none;
}

.solution-parallel-coordinates .lasso {
  stroke: #c09bd8; /* LIGHT_NYU_PURPLE */
  stroke-width: 3px;
}

.solution-parallel-coordinates svg * {
  pointer-events: none;
  user-select: none;
}
