.datasets-view {
  background-color: #f8f9fa!important;
}

.bg-purple {
  background-color: #63508b;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

a.dataset-link {
  color: #212529;
}

a:hover.dataset-link {
  color: #212529;
  text-decoration: none;
}

.dataset-body {
  padding-top: 1rem!important;
  padding-bottom: 1rem!important;
  margin-bottom: 0;
}

.dataset-link > div {
  padding-left: 1rem;
  padding-right: 1rem;
}

.dataset-link > div:hover {
  background-color: #f5f5f5;
}

.card-dataset-title {
  padding: 1rem 1rem;
  margin-bottom: 0;
  border-bottom: 1px solid #dee2e6!important;
}